<!-- Note :
   - You can modify the font style and form style to suit your website.
   - Code lines with comments “Do not remove this code”  are required for the form to work properly, make sure that you do not remove these lines of code.
   - The Mandatory check script can modified as to suit your business needs.
   - It is important that you test the modified form before going live.-->
<div id='crmWebToEntityForm' style='width:600px;margin:auto;'>
    <META HTTP-EQUIV ='content-type' CONTENT='text/html;charset=GB2312'>
    <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads1909414000000097283 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory()' accept-charset='UTF-8'>

        <!-- Do not remove this code. -->
        <input type='text' style='display:none;' name='xnQsjsdp' value='40380622beee77c7a7f9ca99e7a3a010d5975d89fed22a020b8c40d044511c85'/>
        <input type='hidden' name='zc_gad' id='zc_gad' value=''/>
        <input type='text' style='display:none;' name='xmIwtLD' value='7f8bfc673685e0b61448e282b2c7901c99b4c268d3f773945a27a2fe00244874'/>
        <input type='text' style='display:none;'  name='actionType' value='TGVhZHM='/>

        <input type='text' style='display:none;' name='returnURL' value='http&#x3a;&#x2f;&#x2f;furnace-tech.com&#x2f;submit_ok' />
        <!-- Do not remove this code. -->
        <input type='text' style='display:none;' id='ldeskuid' name='ldeskuid'></input>
        <input type='text' style='display:none;' id='LDTuvid' name='LDTuvid'></input>
        <!-- Do not remove this code. -->
        <style>
            tr , td {
                padding:6px;
                border-spacing:0px;
                border-width:0px;
            }
        </style>
        <table style='width:600px;background-color:white;color:black'>

            <tr><td colspan='2' style='text-align:left;color:black;font-family:Arial;font-size:14px;'><strong>furnace-tech contact form</strong></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x516c;&#x53f8;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='100' name='Company' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x884c;&#x4e1a;<span style='color:red;'>*</span></td><td style='width:250px;'>
                <select style='width:250px;' name='Industry'>
                    <option value='-None-'>-无-</option>
                    <option value='Material'>Material</option>
                    <option value='Chemistry'>Chemistry</option>
                    <option value='Physics'>Physics</option>
                    <option value='food'>food</option>
                    <option value='Medicine'>Medicine</option>
                    <option value='Mining&#x20;industry'>Mining industry</option>
                    <option value='Other'>其它</option>
                </select></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x79f0;&#x547c;<span style='color:red;'>*</span></td><td style='width:250px;'>
                <select style='width:250px;' name='Salutation'>
                    <option value='-None-'>-无-</option>
                    <option value='Mr'>先生</option>
                    <option value='Mrs'>夫人</option>
                    <option value='Ms'>女士</option>
                    <option value='Dr'>博士</option>
                    <option value='Prof'>教授</option>
                </select></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x540d;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='40' name='First Name' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x59d3;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='80' name='Last Name' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x8857;&#x9053;</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='250' name='Street' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x90ae;&#x7f16;</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='30' name='Zip Code' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x57ce;&#x5e02;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='30' name='City' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x56fd;&#x5bb6;&#x2f;&#x5730;&#x533a;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='30' name='Country' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x90ae;&#x7bb1;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='100' name='Email' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x7535;&#x8bdd;<span style='color:red;'>*</span></td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='30' name='Phone' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x63cf;&#x8ff0;<span style='color:red;'>*</span> </td><td> <textarea name='Description' maxlength='1000' style='width:250;'>&nbsp;</textarea></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x7ebf;&#x7d22;&#x6765;&#x6e90;<span style='color:red;'>*</span></td><td style='width:250px;'>
                <select style='width:250px;' name='Lead Source'>
                    <option value='-None-'>-无-</option>
                    <option value='Internet&#x20;&#x28;search&#x20;engine&#x29;'>Internet (search engine)</option>
                    <option value='YouTube&#x2f;Video&#x20;portal'>YouTube/Video portal</option>
                    <option value='SNS'>SNS</option>
                    <option value='Colleague'>Colleague</option>
                    <option value='Existing&#x20;customer'>Existing customer</option>
                    <option value='Exhibition'>Exhibition</option>
                    <option value='Advertisement'>广告</option>
                    <option value='Application&#x20;report'>Application report</option>
                    <option value='Buyers&#x27;&#x20;guide'>Buyers' guide</option>
                    <option value='Sales&#x20;person'>Sales person</option>
                    <option value='Others'>其它</option>
                </select></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x9700;&#x8981;&#x62e8;&#x6253;&#x7535;&#x8bdd; </td><td style='width:250px;' ><input type='checkbox'  name='LEADCF102' /></td></tr>

            <tr><td  style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:200px;'>&#x4e0d;&#x53d1;&#x8425;&#x9500;&#x90ae;&#x4ef6; </td><td style='width:250px;' ><input type='checkbox'  name='Email Opt Out' /></td></tr>

            <tr style='display:none;' ><td style='nowrap:nowrap;text-align:left;font-size:12px;font-family:Arial;width:50%'>&#x6765;&#x6e90;&#x94fe;&#x63a5;</td><td style='width:250px;' ><input type='text' style='width:250px;'  maxlength='250' name='LEADCF4' value=''></input></td></tr>

            <tr><td colspan='2' style='text-align:center; padding-top:15px;'>
                <input style='font-size:12px;color:#131307' type='submit' value='提交' />
                <input type='reset' style='font-size:12px;color:#131307' value='重置' />
            </td>
            </tr>
        </table>
        <script>
            var mndFileds=new Array('Company','First Name','Last Name','Email','Phone','Lead Source','Industry','City','Country','Description','Salutation');
            var fldLangVal=new Array('公司','名','姓','邮箱','电话','线索来源','行业','城市','国家/地区','描述','称呼');
            var name='';
            var email='';

            function checkMandatory() {
                for(i=0;i<mndFileds.length;i++) {
                    var fieldObj=document.forms['WebToLeads1909414000000097283'][mndFileds[i]];
                    if(fieldObj) {
                        if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
                            if(fieldObj.type =='file')
                            {
                                alert('请选择文件进行上传');
                                fieldObj.focus();
                                return false;
                            }
                            alert(fldLangVal[i] +' 不能为空');
                            fieldObj.focus();
                            return false;
                        }  else if(fieldObj.nodeName=='SELECT') {
                            if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
                                alert(fldLangVal[i] +' 不能为空');
                                fieldObj.focus();
                                return false;
                            }
                        } else if(fieldObj.type =='checkbox'){
                            if(fieldObj.checked == false){
                                alert('Please accept  '+fldLangVal[i]);
                                fieldObj.focus();
                                return false;
                            }
                        }
                        try {
                            if(fieldObj.name == 'Last Name') {
                                name = fieldObj.value;
                            }
                        } catch (e) {}
                    }
                }
                trackVisitor();
            }
        </script><script type='text/javascript' id='VisitorTracking'>var $zoho= $zoho || {salesiq:{values:{},ready:function(){$zoho.salesiq.floatbutton.visible('hide');}}};var d=document;s=d.createElement('script');s.type='text/javascript';s.defer=true;s.src='https://salesiq.zoho.com/furnacetech/float.ls?embedname=furnacetech';t=d.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);function trackVisitor(){try{if($zoho){var LDTuvidObj = document.forms['WebToLeads1909414000000097283']['LDTuvid'];if(LDTuvidObj){LDTuvidObj.value = $zoho.salesiq.visitor.uniqueid();}var firstnameObj = document.forms['WebToLeads1909414000000097283']['First Name'];if(firstnameObj){name = firstnameObj.value +' '+name;}$zoho.salesiq.visitor.name(name);var emailObj = document.forms['WebToLeads1909414000000097283']['Email'];if(emailObj){email = emailObj.value;$zoho.salesiq.visitor.email(email);}}} catch(e){}}</script>
    </form>
</div>